
*{
    margin:0px;
    padding:0px;
    

}

:root{
    --primary-text-color:#ffffff;
    --secondary-text-color:#000000;
    --accent-color:#006039;
    --accent-colr-dark:#212121;
    --padding-inline-action:20px;

}

body{
    font-family:"Helvetica Now Text", Helvetica, Arial, sans-serif;
    color:var(--primary-text-color)   
}

/*change text size of headings,paragraphs,etc if needed*/
p{
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
    color:var(--secondary-text-color)

}

a{
    text-decoration: none;
    display:inline-block;
}

flex{
    justify-content: center;
}

nav .container a.logo img {
    float:right;
    width: 20px;
    height: 20px;
}
