
*{
    margin:0px;
    padding:0px;
    

}

:root{
    --primary-text-color:#ffffff;
    --secondary-text-color:#000000;
    --accent-color:#006039;
    --accent-colr-dark:#212121;
    --padding-inline-action:20px;

}

body{
    font-family:"Helvetica Now Text", Helvetica, Arial, sans-serif;
    color:var(--primary-text-color)   
}

/*change text size of headings,paragraphs,etc if needed*/
p{
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
    color:var(--secondary-text-color)

}

nav {
    background-color: var(--accent-color);
}

a{
    text-decoration: none;
    display:inline-block;
}

nav .container{
    display:flex;
    height: 80.5px;
    
}

nav .container a {
    width:47%;
}


.menu{
    height:20px;
    width:20px;
    padding:30px 110px;
    z-index: 0;
}



.logo{
    height:40px;
    width:40px;
    padding:21px;
}

.search{
    height:20px;
    width:20px;
    margin-right: 10px;
    filter: brightness(0)
    invert(1);
    padding:20px 70px;
    margin-right: 0px;
}
